{% extends "base.html" %}<!--for the purpose of inheriting the designs from the base.html-->

{%  block page_title %}Nichelle Columba Contact Page{%  endblock %}<!--to allow a name on the webpage tab for organizational purposes-->

{%  block page_head%}Contact Me{% endblock %}<!--to help identify the document-->

{% block page_content %}<!--the below lines of code are for the purpose of retrieving and regurgitating information for data driven decision-making-->
    {%  if form_submitted %}
        <div class="col-12">
            <h2>Thank you for completing my form!</h2>
        </div>
        <div class="col-md-6">
            <p class="fw-bolder fs-5">First Name: </p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('firstname') }}</p>
        </div>
        <div class="col-md-6">
            <p class="fw-bolder fs-5">Middle Name: </p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('middlename')}}</p>
        </div>
        <div class="col-md-6">
            <p class="fw-bolder fs-5">Last Name:</p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('lastname')}}</p>
        </div>
        <div class="col-md-6">
            <p class="fw-bolder fs-5">Email: </p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('emailaddress') }}</p>
        </div>
        <div class="col-md-6">
            <p class="fw-bolder fs-5">Agree to Be Contacted:
        <div class="col-md-6">
            <p>{{ 'Yes' if request.form.get('agree_check') else 'No'}}</p>
        </div>
        </div>

        <p><a href="/contact">Complete Form Again</a></p><!--for the purpose of allowing the user to enter additional information-->
        {%  else %}

    <form class="row g-3 needs-validation" action="/contact" method="post"><!--to create a form that will capture information the user inputs for organizational purposes-->
        <div class="mb-3">
          <label for="firstname" class="fw-bolder fs-5">First Name</label>
          <input type="text" class="form-control" id="firstname" name = 'firstname' placeholder="Example: 'Nichelle'" required>
        </div>
        <div class="mb-3">
          <label for="middlename" class="fw-bolder fs-5">Middle Name</label>
          <input type="text" class="form-control" id="middlename" name = 'middlename' placeholder="Example: 'Isabella'">
        </div>
        <div class="mb-3">
          <label for="lastname" class="fw-bolder fs-5">Last Name</label>
          <input type="text" class="form-control" id="lastname" name = 'lastname' placeholder="Example: 'Columba'" required>
        </div>
        <div class="mb-3">
          <label for="emailaddress" class="fw-bolder fs-5">Preferred Email Address</label>
          <input type="text" class="form-control" id="emailaddress" name = 'emailaddress' placeholder="Example: 'nic.columba@gmail.com'" required>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check">
                <label class="fw-bolder fs-7" for="agree_check">
                    Do you agree to be contacted?
                </label>
            </div>
        </div>
        <div><p></p></div>
        <div class="col-12">
            <button type="submit" class="btn btn-outline-light btn-lg">Submit Form</button><!--to allow the user to submit information into the system for tracking-->
        </div>
    </form>
    {% endif %}
{% endblock %}