{% extends "base.html" %}

{% block page_title %}
    Nichelle Columba Training
{% endblock %}

{% block page_head %}
Welcome to the Training Page!
{% endblock %}

{% block page_content %}
    <p>Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon. Please check back soon or email Nichelle Columba at <a href="mailto:ncolumba@terpmail.umd.edu">ncolumba@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
{% endblock %}